@import 'variables';

.joboffer {

    &-main {
        min-height: calc(100vh - $header-height - $footer-height);
        padding: 0;
        background-image: url('/assets/icons/quiz-header-bg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: $bg-grey;
    }

    &-card {
        margin: 5vh 5vw 5vh 5vw;
        min-width: 400px;
        max-width: 1300px;
    }

    &-text {
        font-size: $font-size-medium;

        &-align {
            margin: 3px 0 0 0;
        }

        &-header-other {
            font-size: $font-size-big;
        }

        &-header {
            font-size: $font-size-big;
            margin: .25rem 0 0 0;
        }

        &-about {
            font-size: $font-size-medium;
            margin: 20px 0 0 10px;

            &-header {
                font-size: $font-size-big;
                margin: 40px 0 10px 0;
            }

            &-field {
                width: 100%;
            }
        }
    }

    &-logo {
        width: 100px;
        height: 100px;

        &-empty {
            border-radius: 90px;
            width: 100px;
            height: 100px;
            background-color: $bg-light-grey;
        }

        &-input {
            margin: 10px;
        }
    }

    &-technology {

        &-text {
            font-size: $font-size-medium;
            font-weight: 500;
        }
    }

    &-button {
        background-color: $accent-color;
        color: $text-light !important;
        border: 0;
        width: 10rem;
        height: 2.5rem;
        border-radius: 5px;
        margin: 0 0 20px 0;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

.separate {
    margin: 40px 0 0 0;
}

.job-organization {
    border: 1px solid;
    color: $text-light;
    border-radius: 10px;
    padding: .25rem .75rem;
}

.header {
    margin: 0 0 1.5rem 0;
}

.icon-align {
    margin: 15px 0 0 0;
}

@media screen and (max-width: 500px) {
    .disable-mobile {
        display: none;
    }
}