@use '@angular/material' as mat;

@import 'ngx-toastr/toastr';
@import 'theme.scss';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();
@include mat.all-component-themes($light-theme);
