@use '@angular/material' as mat;

$light-mode-palette: (
    50 : #e0f5f2,
    100 : #b3e5df,
    200 : #80d4c9,
    300 : #4dc3b3,
    400 : #26b6a3,
    500 : #00a993,
    600 : #00a28b,
    700 : #009880,
    800 : #008f76,
    900 : #007e64,
    A100 : #acffea,
    A200 : #79ffdd,
    A400 : #46ffd1,
    A700 : #2cffca,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-mode-secondary-palette: (
    50: #E1EFF8,
    100: #B4D7ED,
    200: #83BDE1,
    300: #51A3D4,
    400: #2B8FCB,
    500: #067BC2,
    600: #0573BC,
    700: #0468B4,
    800: #035EAC,
    900: #024B9F,
    A100: #C9DFFF, 
    A200: #96C0FF,
    A400: #63A2FF,
    A700: #4A93FF,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn-palette: (
    50 : #fde8e7,
    100 : #f9c7c2,
    200 : #f5a19a,
    300 : #f17b72,
    400 : #ee5f53,
    500 : #eb4335,
    600 : #e93d30,
    700 : #e53428,
    800 : #e22c22,
    900 : #dd1e16,
    A100 : #ffffff,
    A200 : #ffdcda,
    A400 : #ffaaa7,
    A700 : #ff918e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$light-primary: mat.define-palette($light-mode-palette, 400);
$light-accent: mat.define-palette($light-mode-secondary-palette, 300);
$warn: mat.define-palette($warn-palette, 500);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: -1,
));