<mat-horizontal-stepper class="row user-main">
<mat-step>
    <ng-template matStepLabel><span class="step-label">Podstawowe informację</span></ng-template>
    <app-basic-info (saveEvent)="save()" (cancelEvent)="cancel()" [(userBasicInfoForm)]="userBasicInfoForm" [data]="data"></app-basic-info>
</mat-step>
<mat-step>
    <ng-template matStepLabel><span class="step-label">O mnie, Umiejętności</span></ng-template>
    <app-about-skills (saveEvent)="save()" (cancelEvent)="cancel()" [(userAboutSkillsForm)]="userAboutSkillsForm" [data]="data"></app-about-skills>
</mat-step>
<mat-step>
    <ng-template matStepLabel><span class="step-label">Szczegóły</span></ng-template>
    <app-details (saveEvent)="save()" (cancelEvent)="cancel()" [(userDetailsForm)]="userDetailsForm" [data]="data"></app-details>
</mat-step>
</mat-horizontal-stepper>