<mat-drawer-container class="nav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over" position="end" opened="false">
      <div class="row main justify-content-center">
        <div class="col-12 row-style">
          <div class="row">
            <div class="col-auto"><mat-icon class="material-icons-outlined icon">account_circle</mat-icon></div>
            <div class="col text" (click)="navigate('company/1/job-offer/2')">Profil</div>
          </div>
        </div>
        <div class="col-12 row-style" (click)="activateDropdown()">
          <div class="row">
            <div class="col-auto"><mat-icon class="material-icons-outlined icon">{{getArrow()}}</mat-icon></div>
            <div class="col text">Quiz</div>
          </div>
          @if (this.isQuizDropdownActive) {
            <div class="row">
              <div class="col text-dropdown" (click)="navigate('quiz')">Dodaj Quiz</div>
            </div>
          }
        </div>
        <div class="col-auto logout" (click)="logout()">
          Wyloguj się
        </div>
      </div>
      
    </mat-drawer>

    <mat-drawer-content>
      <ng-content></ng-content>
    </mat-drawer-content>
  
  </mat-drawer-container>