<div class="row wrapper text-center">
    <div class="col">
        <div class="title">Check Yourself</div>
        <div>O nas</div>
        <div>Regulamin</div>
        <div>Ploityka prywatności</div>
    </div>
    <div class="col">
        <div class="title">Kontakt</div>
        <div>ul. Piękna 20b / 37</div>
        <div>60-641 Poznań</div>
        <div class="text">{{'CheckYourself@gmail.com'}}</div>
    </div>
    <div class="col">
        <div class="title">Dla Pracodawców</div>
        <div>Zasady Bezpieczeństwa</div>
        <div>Aktualności</div>
        <div class="text">Poziomy kandydatów</div>
    </div>
</div>