@import 'variables';

.wrapper {
    background-color: $bg-dark;
    color: $text-light;
    padding: 0 0 .3rem 0;
}

.logo-main {
    margin: .3rem 0 -.3rem 0;
}

.logo-sub {
    cursor: pointer;
    font-weight: 300;
    color: $primary-color;
    padding: 0 0.75rem 0 0;
}

.icon {
    cursor: pointer;
    margin: 20px 5px 0 0;
    
    &-1 {
        transform: scale(1.5);
    }
    
    &-2 {
        transform: scale(2);
    }
}

@media screen and (max-width: 500px) {
    .logo-text {
        display: none;
    }
}