<div class="row wrapper text-center">
    <div class="col-auto">
        <div class="col-xl logo-main">
            <h1 routerLink="main-page"><span class="logo-text">Check</span><img [src]="logo" alt="Logo" id="header-logo"/><span class="logo-text">Yourself</span></h1>
        </div>
        <div class="col logo-sub">
            Bell the Cat
        </div>
    </div>
    <div class="col"></div>
    <div class="col-auto icon">
        @if (isLoggedIn) {
            <mat-icon class="material-icons-outlined icon-1" [routerLink]="isCompany ? 'company/' + id : 'user/' + id">person_outline</mat-icon>
        } @else {
            <mat-icon class="material-icons-outlined icon-1" (click)="openLoginDialog()">person_outline</mat-icon>
        }
    </div>
    <div class="col-auto icon" [class]="isLoggedIn ? '' : 'hide'" id="menu">
        <mat-icon class="material-icons-outlined icon-2" >menu</mat-icon>
    </div>
</div>