<main class="row page-main">
    <div class="col-12">
        <div class="row row-offset">
            <div class="col-12 header">
                Oferty pracy
            </div>
            @for (item of array1; track $index) {
                <div class="col-3">
                    <mat-card class="card">
                        <mat-card-content>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
            }
        </div>
    </div>
</main>