<div class="row quiz-main" #scrollTo>
    <form>
        @for (question of quiz.questions; track $index;) {
            <mat-card *ngIf="question.type === 'multiple choice' && $index === questionNumber" class="main-card">
                <div class="col-12 question-text">
                    Question
                </div>
                <mat-card-content class="col-12 question-content">
                        <h2>{{question.question}}</h2>
                    <div>
                        {{question?.code}}
                    </div>
                    <div>
                        {{question?.picture}}
                    </div>
                    <div>
                        {{question?.film}}
                    </div>
                </mat-card-content>
                <mat-card-content>
                    <div class="row list">
                        @for (choice of options(question); track $index) {
                            <div class="col-xl-3">
                                <mat-card class="card" (click)="toggleChoice(choice)" [class.card-selected]="isSelected(choice)">
                                    <mat-card-content 
                                        class="card-content" 
                                        [style.background-color]="colors[$index % colors.length]"
                                        [style.background-image]="backgroundImages[($index % colors.length) % 8]"
                                    >
                                        {{choice}}
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        }
                    </div>
                    <div class="col-12">
                        <div class="float-end">
                            <button type="button" class="next-question-button" (click)="nextQuestion(question)">Next Question</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
          } @empty {
            Problem with questions
          }
    </form>
</div>