
<app-landing-page-wraper>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text">Tylko <span class="number">5%</span> ogłoszeń w IT jest skierowane do juniorów...</div>
            <div class="text-secondary">
                <p>Podejmij wyzwanie!</p>
                <p><span class="number">1.</span> Sprawdź swój <span class="text-accent">poziom umiejętności</span></p>
                <p><span class="number">2.</span><span class="text-accent"> Aplikuj i ucz się</span> w jednym</p>
                <p><span class="number">3.</span> Pozwól się<span class="text-accent"> znaleźć pracodawcy</span></p>
                <p><span class="number">4.</span><span class="text-accent"> Rozwijaj się</span></p>
            </div> 
        </div>
    </div>
</app-landing-page-wraper>