<mat-dialog-content>
    <div class="row justify-content-center">
        <div class="col-auto text-header">
            <h1>Check <img [src]="logo" alt="Logo"/> Yourself</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto text-top">
            Zaloguj się
        </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="row justify-content-center">
            <div class="col-auto">
                <mat-form-field class="input-email">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="mail">
                    @if (loginForm.get('mail')?.getError('mail')) {
                        <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (loginForm.get('mail')?.getError('required') && loginForm.get('mail')?.touched) {
                        <mat-hint class="error-hint">Email is required</mat-hint>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
                    <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    @if (!loginForm.get('password')?.value && loginForm.get('password')?.touched) {
                        <mat-hint class="error-hint">Password is required</mat-hint>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <button mat-button type="submit" class="login-button" cdkFocusInitial>Zaloguj się</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-end">
        <div class="col-auto text-bottom">
            Nie pamiętasz hasła?
        </div>
    </div>
</mat-dialog-content>
    
