<main class="row user-main">
    <form class="form">
        <div class="row justify-content-center">
            <mat-card class="col user-card">
                <mat-card-content>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <mat-icon class="material-symbols-outlined icon-edit" routerLink="edit" *ngIf="isUsersProfile">edit</mat-icon>
                        </div>
                    </div>
                    <!-- Name and Surname -->
                    <div class="row justify-content-center text-name">
                        <div class="col-auto">
                            {{data ? data.name : ''}}
                        </div>
                        <div class="col-auto">
                            {{data ? data.surname : ''}}
                        </div>
                        <div class="col-12" *ngIf="data?.title">
                            <div class="row justify-content-center text-name-title">
                                <div class="col-auto">
                                    {{data.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Location, Phone, Salary -->
                    <div class="row text-block">
                        <div class="col-12">
                            <div class="row justify-content-start">
                                <div class="col-lg-4 text-field" *ngIf="data?.localization">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">pin_drop</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.localization}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-field" *ngIf="data?.phoneNumber">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">call</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.phoneNumber}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-field" *ngIf="data?.cashRequirements">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">payments</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.cashRequirements}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Email, Date of Birth, Job time -->
                    <div class="row text-block">
                        <div class="col-12">
                            <div class="row justify-content-start">
                                <div class="col-lg-4 text-field" *ngIf="data?.mail">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">mail_outline</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.mail}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-field" *ngIf="data?.dateOfBirth">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">cake</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.dateOfBirth}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-field" *ngIf="data?.timeRequirements">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">hourglass_top</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.timeRequirements}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Github, Page, Contract Type -->
                    <div class="row text-block">
                        <div class="col-12">
                            <div class="row justify-content-start">
                                <div class="col-lg-4 text-field" *ngIf="data?.githubUrl">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">link</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.githubUrl}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-field">
                                    <div class="row align-items-center" *ngIf="data?.siteUrl">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">link</mat-icon>
                                        </div>
                                        <div class="col-auto ">
                                           {{data.siteUrl}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-field" *ngIf="data?.typeOfContract">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-icons-outlined">featured_play_list</mat-icon>
                                        </div>
                                        <div class="col-auto">
                                            {{data.typeOfContract}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- About me -->
                    <div class="row justify-content-start text-block" *ngIf="data?.aboutMe">
                        <div class="col-12 text-header">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
                                </div>
                                <div class="col-auto text-main">
                                    O mnie:
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            {{data.aboutMe}}    
                        </div>
                    </div>
                    <!-- Skills -->
                    <div class="row justify-content-start text-block">
                        <div class="col-12 text-header" *ngIf="(skillFE[0]?.value != '' && skillFE.length != 0) || (skillBE[0]?.value != '' && skillBE.length != 0)">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">stay_current_landscape</mat-icon>
                                </div>
                                <div class="col-auto text-main">
                                    Umiejętności:
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-about-me-body" *ngIf="skillFE[0]?.value != '' && skillFE.length != 0">
                            <div class="row justify-content-start">
                                <div class="col-12 text-header">
                                    Technologie Frontend:
                                </div>
                                <div class="col-12 text-header" *ngFor="let fe of skillFE">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{fe?.type}}
                                        </div>
                                        <div class="col-6">
                                            <mat-progress-bar class="progress-bar" mode="determinate" [value]="fe?.value" [color]="getColor(fe?.value)"></mat-progress-bar>
                                        </div>
                                        <div class="col-auto">
                                            {{fe?.value}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-about-me-body" *ngIf="skillBE[0]?.value != '' && skillBE.length != 0">
                            <div class="row justify-content-start">
                                <div class="col-12 text-header">
                                    Technologie Backend:
                                </div>
                                <div class="col-12 text-header" *ngFor="let be of skillBE">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{be?.type}}
                                        </div>
                                        <div class="col-6">
                                            <mat-progress-bar class="progress-bar" mode="determinate" [value]="be?.value" [color]="getColor(be?.value)"></mat-progress-bar>
                                        </div>
                                        <div class="col-auto">
                                            {{be?.value}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Foreign Languages and Other -->
                    <div class="row justify-content-start text-block">
                        <div class="col-lg-6 text-about-me-body" *ngIf="language[0]?.value != '' && language.length != 0">
                            <div class="row justify-content-start">
                                <div class="col-12 text-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">translate</mat-icon>
                                        </div>
                                        <div class="col-auto text-main">
                                            Języki obce:
                                        </div>
                                    </div>        
                                </div>
                                <div class="col-12 text-header" *ngFor="let lang of language">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{lang?.type}}
                                        </div>
                                        <div class="col-6">
                                            <mat-progress-bar class="progress-bar" mode="determinate" [value]="lang?.value" [color]="getColor(lang?.value)"></mat-progress-bar>
                                        </div>
                                        <div class="col-auto">
                                            {{lang?.value}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-about-me-body" *ngIf="skillOther[0]?.value != '' && skillOther.length != 0">
                            <div class="row justify-content-start">
                                <div class="col-12 text-header">
                                    Inne:
                                </div>
                                <div class="col-12 text-header" *ngFor="let other of skillOther">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{other?.type}}
                                        </div>
                                        <div class="col-6">
                                            <mat-progress-bar class="progress-bar" mode="determinate" [value]="other?.value" [color]="getColor(other?.value)"></mat-progress-bar>
                                        </div>
                                        <div class="col-auto">
                                            {{other?.value}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experiance, education, certyficates -->
                    <div class="row justify-content-start text-block">
                        <div class="col-md-4 text-header" *ngIf="data?.experience && data?.experience?.length != 0">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">work_outline</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Doświadczenie:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert" *ngFor="let exp of data.experience">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                        </div>
                                        <div class="col-auto text-aligment">
                                            {{exp.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 vertical-line">
                                    od {{exp.startedDate}} do {{exp.finishedDate}}
                                </div>
                                <div class="col-12 vertical-line" *ngIf="exp?.tasks && exp?.tasks?.length != 0">
                                    <ul>
                                        <li *ngFor="let task of exp.tasks">
                                            {{task}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12">
                                    <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header" *ngIf="data?.education && data?.education?.length != 0">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">school</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Wykształcenie:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert" *ngFor="let edu of data.education">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                        </div>
                                        <div class="col-auto text-aligment">
                                            {{edu.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row vertical-line">
                                    <div class="col-12">
                                       od {{edu.startedDate}} do {{edu.finishedDate}}
                                    </div>
                                    <div class="col-12">
                                        {{edu.schoolName}}
                                    </div>
                                    <div class="col-12">
                                       {{edu.title}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header" *ngIf="data?.qualification && data?.qualification?.length != 0">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">insert_drive_file</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Kursy i certyfikaty:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert" *ngFor="let cert of data.qualification">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                        </div>
                                        <div class="col-auto text-aligment">
                                            {{cert.certificateName}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row vertical-line">
                                    <div class="col-12">
                                        {{cert.certificateNumber}}
                                    </div>
                                    <div class="col-12">
                                        {{cert.date}}, {{cert.companyName}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hobby, Soft Skills, organizations -->
                    <div class="row justify-content-start text-block">
                        <div class="col-md-4 text-header" *ngIf="data?.organizations && data?.organizations?.length != 0">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">hourglass_empty</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Organizację i stowarzyszenia:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <ul>
                                        <li *ngFor="let org of data.organizations">
                                            {{org}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header" *ngIf="data?.softSkills && data?.softSkills?.length != 0">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">tag_faces</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Umiejętności Miękkie:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <ul>
                                        <li *ngFor="let skill of data.softSkills">
                                            {{skill}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header" *ngIf="data?.hobbies && data?.hobbies?.length != 0">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Hobby:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <ul>
                                        <li *ngFor="let hobby of data.hobbies">
                                           {{hobby}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</main>