<main class="row">
    <form class="form" [formGroup]="userForm">
        <div class="row justify-content-center">
            <mat-card class="col user-card">
                <mat-card-content>
                    <!-- Experiance, education, certyficates -->
                    <div class="row justify-content-start text-block">
                        <div class="col-md-4 text-header">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">work_outline</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Doświadczenie:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                        </div>
                                        <div class="col-auto text-aligment">
                                            Tester Manualny
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 vertical-line">
                                    <ul>
                                        <li>
                                            awdawd awdas
                                        </li>
                                        <li>
                                            awidmninni
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12">
                                    <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">school</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Wykształcenie:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                        </div>
                                        <div class="col-auto text-aligment">
                                            Informatyk-Inż.
                                        </div>
                                    </div>
                                </div>
                                <div class="row vertical-line">
                                    <div class="col-12">
                                        2019-2024
                                    </div>
                                    <div class="col-12">
                                        Uniwersytet im. Adama Mickiewicza
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">insert_drive_file</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Kursy i certyfikaty:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                        </div>
                                        <div class="col-auto text-aligment">
                                            Murarz. rynkarz, akrobata
                                        </div>
                                    </div>
                                </div>
                                <div class="row vertical-line">
                                    <div class="col-12">
                                        numer certyfikatu: 213sd
                                    </div>
                                    <div class="col-12">
                                        18 czerwca 2023, Udemy Sp. z o. o.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-icon class="material-symbols-outlined">toll</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hobby, Soft Skills, organizations -->
                    <div class="row justify-content-start text-block">
                        <div class="col-md-4 text-header">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">hourglass_empty</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Organizację i stowarzyszenia:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                            awdawd awdas
                                        </li>
                                        <li>
                                            awidmninni
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">tag_faces</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Umiejętności Miękkie:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                            awdawd awdas
                                        </li>
                                        <li>
                                            awidmninni
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-header">
                            <div class="row">
                                <div class="col-auto">
                                    <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                                </div>
                                <div class="col-auto text-aligment">
                                    Hobby:
                                </div>
                            </div>
                            <div class="row text-exp-edu-cert">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                            awdawd awdas
                                        </li>
                                        <li>
                                            awidmninni
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</main>