@import 'variables';

.wrapper-conatiner {
    min-height: calc(100vh - $header-height - $footer-height);
    background-image: url('/assets/icons/landing-page-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-palcement {
    display: flex;
    justify-content: center;
}

.card {
    width: 28rem;
    height: 38rem;
    min-width: 375px;
}

.header {
    display: flex;
    justify-content: center;

    &-text {
        font-size: $font-size-small;
        padding: .5rem 0 0 0;

        &-alt {
            font-size: $font-size-small;
            color: $primary-color;
            padding: .5rem 0 0 0;
        }
    }

    .icon {
        transform: scale(2);
        padding: .25rem 0 0 0;
    }
}

.content {
    height: 100%;
}

.divider {
    width: 90%;
    align-self: center
}

.register {
    &-button {
        background-color: $primary-color;
        color: $text-light;
        border: 0;
        border-radius: .3rem;
        height: 2.75rem;
        width: 9rem;
        margin: 0 0 1.75rem 0;
    }
}

.input {
    &-first {
        margin: 24px 0 0 0;
    }
    &-checkbox {
        font-size: $font-size-medium;
        width: 22rem;
    }
}

.login-text {
    font-size: $font-size-medium;
    &-color {
        color: $primary-color;
        cursor: pointer;
    }
}

@media screen and (min-width: 500px) {
    .register {
        margin: 1.75rem 0 0 0;
    }
}