$bg-dark: #1E232B;
$text-light: white;
$text-dark: black;
$primary-color: #00A993;

$header-height: 71px;
$footer-height: 115px;

$font-size-small: 0.75rem;
$font-size-medium: 1rem;
$font-size-big: 1.25rem;
$font-size-biger: 2rem;