$bg-dark: #1E232B;
$bg-grey: #313843;
$bg-light-grey: #D9D9D9;
$text-light: white;
$text-dark: black;
$black: black;
$primary-color: #00A993;
$accent-color: #067BC2;
$error: #EB4335;

$header-height: 76px;
$footer-height: 94.5px;

$font-size-small: 0.75rem;
$font-size-medium: 1rem;
$font-size-big: 1.25rem;
$font-size-biger: 2rem;